h1 {
    text-align: center;
  }
  
  mat-dialog-content {
    display: flex;
    flex-direction: column;
  }
  
  mat-form-field {
    margin-bottom: 16px;
    width: 100%;
  }
  
  mat-dialog-actions {
    justify-content: flex-end;
  }
  