<h1 mat-dialog-title>Edit Student</h1>
<div mat-dialog-content>
  <form [formGroup]="editForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Qualification</mat-label>
      <input matInput formControlName="qualification" placeholder="Qualification" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Experience</mat-label>
      <input matInput formControlName="experience" placeholder="Experience" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>School</mat-label>
      <input matInput formControlName="school" placeholder="School" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!editForm.valid" (click)="onSave()">Save</button>
</div>
