<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
        </mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="'/student/student-jobs'">
        <mat-icon mat-list-icon>important_devices</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Applied Jobs</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button [routerLink]="'/Student'" ><h4>Student Dashboard</h4> </button> 
      <span class="example-spacer "></span>
      <button mat-raised-button (click)="logout()" color="warn">Logout</button>
    </mat-toolbar>

    <div class="card-container">
      <div *ngFor="let job of job_data" class="card">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{job.title}}</mat-card-title>
            <mat-card-subtitle>{{job.type}}</mat-card-subtitle>

          </mat-card-header>
          <mat-divider></mat-divider>

          <mat-card-content class="fixed-height-content">
            <br>
            <p><b>Company : </b>{{job.companyName}}</p>
            <p><b>Experience : </b>{{job.experience}}</p>
            <p><b>Skills : </b>{{job.skills}}</p>
            <p><b>Description : </b>{{job.description}}</p>
          </mat-card-content>

          <mat-divider></mat-divider>
          <mat-card-actions class="custom-card-actions">
            <div class="button-container">
              <button *ngIf="job.status=='Applied'" style="background-color:rgb(106, 157, 223);color: white;" mat-stroked-button disabled color="primary">Applied</button>
              <button *ngIf="job.status=='Accepted'" style="background-color:#04AF70;color: white;" mat-stroked-button disabled color="primary" >Accepted</button>
              <button *ngIf="job.status=='Declined'" style="background-color:red;color: white;" mat-stroked-button disabled color="primary" >Declined</button>
            </div>
          </mat-card-actions>
          <mat-card-footer>

          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>