<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="isExpanded">
      <mat-nav-list>
  
        <mat-list-item (click)="isExpanded = !isExpanded">
          <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
          </mat-icon>
        </mat-list-item>
        <mat-list-item [routerLink]="'/employer/post-job'">
          <mat-icon mat-list-icon>important_devices</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Post Jobs</span>
        </mat-list-item>
  
        <mat-list-item [routerLink]="'/employer/list-job'">
          <mat-icon mat-list-icon>assignment icon</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">List Jobs</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'/employer/list-student'">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">List Students</span>
        </mat-list-item>
  
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
    <mat-sidenav-content>
         
      <mat-toolbar color="primary">
        <h4>Employer Dashboard</h4>
        <span class="example-spacer "></span>
        <button mat-raised-button (click)="logout()" color="warn">Logout</button>
      </mat-toolbar>
       
        <div class="container">
            <div class=" col-md-8">
                <form action="" class="mt-3 p-5 align-self-center" >
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="jobtitle" name="jobTitle" placeholder="Title of the job" [(ngModel)]="jobTitle" >
                      <label for="floatingInput">Job Title</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="skills" placeholder="Skills" name="skills" [(ngModel)]="skills" >
                      <label for="floatingInput">Skills</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="roles" placeholder="Roles" name="roles" [(ngModel)]="roles" >
                        <label for="floatingInput">Responsibilities</label>
                      </div>
                    <div class="form-floating mb-3">
                      <select class="form-select" id="floatingSelect" aria-label="jobType" name="jobType" [(ngModel)]="jobType" >
                        <option *ngFor="let j of jobTypes" [value]="j">{{j}}</option>
                      </select>
                      <label for="floatingSelect">Role</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" aria-label="experience" name="experience" [(ngModel)]="experience" >
                          <option *ngFor="let e of experiences" [value]="e">{{e}}</option>
                        </select>
                        <label for="floatingSelect">Experience</label>
                      </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="description" placeholder="description" name="description" [(ngModel)]="description" >
                        <label for="floatingInput">Description</label>
                      </div>
                    <div class="button-alignment">
                    <div class="col-md-8 justify-content-center">
                    <button class="btn btn-primary" (click)="submit_job()"> Submit </button>
                    </div>
                </div>
                  </form>
                  
            </div>
            
        </div>








      <div id="post-job">
        <!-- Post Jobs section content -->
      </div>
      <div id="list-job">
        <!-- List Jobs section content -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
